EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE={{ eureka_server_url }}
JWT_SECRET={{ jwt_secret }}
NOTIFICATION_SERVICE_PORT=8004
NOTIFICATION_API_KEY={{ notification_api_key | default(lookup('env', 'NOTIFICATION_API_KEY')) }}
SPRING_PROFILES_ACTIVE={{ environment | default('prod') }}
