EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE={{ eureka_server_url }}
JWT_SECRET={{ jwt_secret }}
PAYMENT_SERVICE_PORT=8003
PAYMENT_GATEWAY_KEY={{ payment_gateway_key | default(lookup('env', 'PAYMENT_GATEWAY_KEY')) }}
SPRING_PROFILES_ACTIVE={{ environment | default('prod') }}
